html {
  background-color: aquamarine;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border: 0px;
  padding: 3%;
  background-color: bisque
}

// changing the font for the list items and paragraphs to sans serif //

li {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  border-style: groove;
  width: 70%;
  margin-left: 30%;


}

header {
  display: block;
  text-align: center;
  margin: 0px;
  padding: 20px;
  border: 10px;
  border-color: chartreuse;
  background-color: chartreuse;

}

aside {
  border: 1cm;
  position: sticky;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: darkgray;
  width: 20%;
  height: 200px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
  float: inline-start;
}

h1 {
  font-size: 250%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

}

h2 {
  text-align: center;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;

}

h3 {
  text-decoration: underline;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

// styling below is for the profile image //

img {
  border-radius: 50%;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 0px;
  border: 0px;
}

#image1 {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

// this styling is for the footer //


footer {
  display: block;
  text-align: center;
  margin: 10px;
  padding: 1rem;
  background-color: red;
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 70%;
  padding: 2%;
  width: 50rem;
  margin: 5%;
  background-color: darkgrey;
  border-radius: 20px;
}