html {
  background-color: aquamarine;
  /* color chosen for background to be neutral */
}

/* styling for the body */

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border: 0px;
  padding: 3%;
  background-color: bisque
}

/* changing the font for the list items and paragraphs to sans serif */

li {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

/* styling for main */

main {
  border-style: groove;
  width: 90%;
  margin: 0%;
  padding: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

/*styling of the header to be more distinctive than body and footer*/

header {
  display: block;
  text-align: center;
  background-color: chartreuse;
  width: 97.9%;
  margin: 0px;
  padding: 5px;
  border: 10px;
  border-color: chartreuse;
  border-style: ridge;
  /*ridge border used to make header stand out more*/

}

/* Styling for menu sidebar */

aside {
  border: 5cm;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: darkgray;
  width: 20%;
  height: 200px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  align-self: auto;
}


/* styling different headings and their sizes */

h1 {
  font-size: 250%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

}

h2 {
  text-align: center;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;

}

h3 {
  text-decoration: underline;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

/* styling below is for the profile image */

img {
  border-radius: 50%;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 0px;
  border: 0px;
}

#image1 {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* this styling is for the footer */


footer {
  display: block;
  text-align: center;
  margin: 10px;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

/*styling for flex properties of footer used to make footer more seperate and distinctive from main*/

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 70%;
  padding: 2%;
  width: 50rem;
  margin: 5%;
  background-color: darkgoldenrod;
  border-radius: 20px;
}