body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
  background-color: cornflowerblue;
}

footer {
  background-color: yellowgreen;
  text-align: center;
}

#sidebar{
 width: 25%;
 background-color: skyblue;

}
